@keyframes  scaleIn{
    0% {transform: scale(0.5) ;}
    85% {transform: scale(1.5);}
    100% {transform: scale(1) ;}
}
@keyframes picRobot {
    0%{transform:scaleX(2)}
    50%{transform: scale(0.5) translateX(100px);}
    100% {transform: translateX(500px);}
}
    

body {
    background-color: aquamarine;
    align-items: center;
}
.image1{
    height: 100px;
    width: 200px;
    border-radius: 20px;
    animation-duration: 5s;
    &:hover{
    transform: translateX(500px) scale(2) rotate(180deg); 
    animation-duration: 5s;
    }
}
.image2{
    height: 100px;
    width: 200px;
    border-radius: 50px;
    &:hover{
    animation-name: picRobot;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    }
}
button{
    background-color: rgb(79, 8, 221);
    color: whitesmoke;
    transition: 0.5s;
    &:hover{
        transform: scale(2);
        background-color: whitesmoke;
        color: black;
    }
}
.button2{
    background-color: yellow;
    color: pink;
    &:hover{
        background-color: pink;
        color: black;
        transition: background-color .10s ease-in, color .5s ease-in-out, transform 2s ease-in-out;
    }

}
.button3{
    height: 40px;
    width: 80px;
    background-color: purple;
    justify-content: center;
    border-radius: 10px;
    p {
        font-size: 20px;
        font-weight: bold;

    }
    &:hover{
        color: whitesmoke;
        background-color: black;
        transform: scale(1.2) rotate(30deg);
     }
}
h2{
    font-size: 50px;
    font-family: 'Fira Sans',sans-serif;
    color: #DCF2B0;
    color: black;
    text-shadow: 5px 5px 0px #59C3C3;
    background-color: #DCF2B0;
    height: auto;
    width: 130px;
}
    h2:hover{
    animation-name: scaleIn ;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    
    }
